<!DOCTYPE html>
<html lang="ro">
 <head>
       <meta name="keywords" content="florarie, florărie, florarie online, florărie online, livrare Bucuresti, livrare Ilfov, flori, floare, planta, plantă, plante, buchete, buchet, aranjament floral, ghiveci, copaci, copăcei, cactus, cactusi, cactuși, trandafiri, trandafir, crini, crizanteme, lalele, lalea, frezii, frezie, garoafe, garoafă, garoafa, iris, zambila, zambile, zambilă, orhidee, buchet mireasă, buchet mireasa, Valentine’s Day, buchet nasa, buchet nașă, buchet domnisoara de onoare, buchet domnișoară de onoare, buchet de cununie, coroane funerare, coroana funerara, coroană funerară, cruci florale, cruce florala, cruce florală
       "><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
       <meta name="description" content="Florărie online. Livrare în București și Ilfov. Flori pentru toate ocaziile."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
       
   <title>Flora</title>
   <%- include ("../fragmente/head.ejs") %>

 </head>
 <body>
    <header>
        <h1 id="titlu-inceput">Flora <i class="fa-solid fa-fan fa-spin"></i></h1> 
    </header>
    <div id="watermark"></div>
    <div id="absolut"></div>

    <%- include ("../fragmente/header.ejs") %>
    
    <main>
    <div id="grid-pagina">
        <section id="desprenoi">
            <h2>Despre noi</h2>
            <!-- <p>IP: <%- locals.ip %></p> -->
            <p>Această florărie a apărut din iubirea pe care o avem față de flori. S-a deschis pentru prima oară în anul 2016 în format fizic în București și mai apoi ne-am extins și în format online în anul 2020. Buchetele sunt făcute cu grijă în ziua livrării pentru a-și păstra prospețimea.</p>
            <p><strong>Livrăm numai în București și Ilfov!</strong> Mai multe detalii despre locație și contact găsiți în partea de jos a paginii.</p>
            <figure>
                <picture> 
                    <source media="(max-windth: 600px)" srcset="resurse/imagini/florarierandom.jpg">
                    <source media="(max-windth: 1000px)" srcset="resurse/imagini/florarierandom.jpg">
                    <img src="resurse/imagini/florarierandom.jpg" alt="imagine-sigla" title="Florăria Flora"/>
                    <figcaption>Vitrina florăriei</figcaption>
                </picture> 
                </figure>
        </section>
        <section id="intrebari">
            <h2>Întrebări frecvente</h2>
            <details><summary> Pot programa livrarea pentru o anumită zi și oră? </summary>
                <p> Da, numai că trebuie comunicat atunci când faceți comanda. </p></details>
            <details><summary> Cât de repede se poate face livrarea? </summary>
                <p> În general, comanda se livrează ziua următoare, dar puteți specifica și să fie în aceași zi sau într-o zi anume la o oră de dinainte stabilită. </p></details>
            <details><summary> Pot face comanda online și să o ridic din magazin? </summary>
                <p> Da, dar trebuie precizat la plasarea comenzii. </p></details>
            <details><summary> Se poate face livrarea după terminarea programului? </summary>
                <p> Nu. </p></details>
            <details><summary> Cum aș putea păstra florile și după ce se usucă? </summary>
                <p> În acest sens puteți urmări tutorialul de mai jos. </p>
                <a href="https://www.youtube.com/embed/eyq9FFxWgL4" target="ifr-video-dry"><i lang="en">How to preserve flowers dry and pressed</i></a>
                <iframe id="ifr-video" name="ifr-video-dry" width="560" height="315" src="https://www.youtube.com/embed/eyq9FFxWgL4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </details>
        </section>
        <section id="oferte">
            <h2>Oferte</h2>
            <p><b>Aici găsiți cele mai ieftine flori la prețuri de nerefuzat!</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, urna id ultricies porttitor, arcu mauris luctus quam, a semper ligula dui in lectus. Morbi ut placerat tellus, vitae rhoncus lacus. Cras tempus lectus ac tellus tincidunt ornare. Sed eu congue metus. Maecenas eu libero nec nulla sagittis facilisis vitae a augue. Suspendisse imperdiet in magna vel blandit. Phasellus dictum, dolor in convallis tincidunt, libero velit sollicitudin mauris, sed dignissim leo ex non mi. Aliquam ut lorem a orci eleifend ultricies. Sed viverra dignissim magna at dignissim. Quisque orci risus, tincidunt vitae leo at, volutpat imperdiet sem. Sed congue, elit at feugiat tincidunt, magna dui egestas nisl, quis eleifend tellus odio vitae tortor. Aenean lobortis nunc ut erat lobortis, at elementum purus dapibus. Fusce quis tempor est. Integer diam nunc, pretium in pulvinar eget, placerat eu dui. Phasellus ipsum sem, mattis a ultricies vel, aliquam vel leo.</p>
        </section>
        <section id="orar">
            <h2>Orar</h2>
            <p><b>Pot apărea modificări în zilele cu sărbători, iar acestea vor fi postate în partea de anunțuri. În ziua specială din orarul de mai jos sunt încadrate zilele de 1 și 8 martie, Valentine’s day, Dragobete și prima zi de școală.</b></p>
            <div id="tabel">
            <table id="tabel-orar">
                <caption>Program de lucru</caption>
                <thead>
                    <tr>
                        <th>Ziua</th>
                        <th>Program dimineață</th>
                        <th>Pauză prânz</th>
                        <th>Program după-amiază</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Luni</td>
                        <td>8:00-13:00</td>
                        <td>13:00-14:00</td>
                        <td>14:00-20:00</td>
                    </tr>
                    <tr>
                        <td>Marți</td>
                        <td>8:00-13:00</td>
                        <td>13:00-14:00</td>
                        <td>14:00-20:00</td>
                    </tr>
                    <tr>
                        <td>Miercuri</td>
                        <td>8:00-13:00</td>
                        <td>13:00-14:00</td>
                        <td>14:00-20:00</td>
                    </tr>
                    <tr>
                        <td>Joi</td>
                        <td>8:00-13:00</td>
                        <td>13:00-14:00</td>
                        <td>14:00-20:00</td>
                    </tr>
                    <tr>
                        <td>Vineri</td>
                        <td>8:00-13:00</td>
                        <td>13:00-14:00</td>
                        <td>14:00-20:00</td>
                    </tr>
                    <tr>
                        <td>Sâmbătă</td>
                        <td rowspan="2">10:00-14:00</td>
                        <td rowspan="2">14:00-15:00</td>
                        <td rowspan="2">15:00-20:00</td>
                    </tr>
                    <tr>
                        <td>Duminică</td>
                    </tr>
                    <tr>
                        <td>Specială</td>
                        <td>7:00-14:00</td>
                        <td>14:00-15:00</td>
                        <td>15:00-21:00</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            </div>
         
        </section>
        <section id="anunturi">
            <h2>Anunțuri</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, urna id ultricies porttitor, arcu mauris luctus quam, a semper ligula dui in lectus.</p>
        </section>
    <section id="buchete">
        <h2>Buchete de flori</h2>
        <p>Cu toate ca fiecare floare este diferită, există mai multe <i lang="en">tips and tricks</i> pentru a putea face florile să reziste mai mult. Mai jos sunt mai multe <i lang="en">tutoriale</i> care vă vor ajuta in acest sens.</p>
        <div class="container">
            <div class="taburi">
                <a href="https://www.youtube.com/embed/8weE66S8uyI" target="ifr-video">Tutorial 1</a>
                <a href="https://www.youtube.com/embed/CMpvhEJ9Bcc" target="ifr-video">Tutorial 2</a>
                <a href="https://www.youtube.com/embed/b3fJM-vmTic" target="ifr-video">Tutorial 3</a><br/>   
            </div>
            <iframe id="ifr-video" name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/8weE66S8uyI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <section id="buchetedetrandafiri">
            <h3>Buchete de trandafiri</h3>
            <p>Pentru a te bucura de trandafiri o perioadă mai lungă de timp ar trebui să urmezi urmatoarele sfaturi:</p>
            <ol>
                <li>înainte de a pune florile în vază taie oblic cam 1,3-1,5 cm din codiță pentru a ajuta la hidratarea corectă;</li>
                <li>rupe frunzele din partea de jos a tulpinii pentru a nu putrezi în apă;</li>
                <li>așază vaza la lumină, dar nu direct în bataia soarelui, într-un loc bine aerisit și aflat departe de o sursă directăn de caldură.</li>
            </ol>
        </section>
        <section id="buchetedelalele">
            <h3>Buchete de lalele</h3>
            <p>Pentru a te bucura de lalele o perioadă mai lungă de timp ar trebui să urmezi urmatoarele sfaturi:</p>
            <ol>
                <li>înainte de a pune florile în vază taie oblic cam 1,3-1,5 cm din codiță pentru a ajuta la hidratarea corectă;</li>
                <li>rupe frunzele din partea de jos a tulpinii pentru a nu putrezi în apă;</li>
                <li>așază vaza într-o lumină difuză, aflat departe de o sursă directă de caldură.</li>
                <li>dacă sunt deja ambalate, nu le desfaceți imediat, ci puneți-le în apa asa cum sunt, într-o vaza suficient de înalta să le susțină drepte tulpinile,iar dacă nu au ambalaj, înfasurati-le într-o hartie sau o folie si apoi puneți-le în vază asa, timp de 2-3 ore;</li>
                <li>dupa 2-3 ore, puteți să le scoateti din ambalaj și să le asezați în vază așa cum vă place.</li>
            </ol>
        </section>
        <section id="buchetedecrini">
            <h3>Buchete de crini</h3>
            <p>Pentru a te bucura de crini o perioadă mai lungă de timp ar trebui să urmezi urmatoarele sfaturi:</p>
            <ol>
                <li>înainte de a pune florile în vază taie oblic cam 1,3-1,5 cm din codiță pentru a ajuta la hidratarea corectă;</li>
                <li>rupe frunzele din partea de jos a tulpinii pentru a nu putrezi în apă;</li>
                <li>apa trebuie schimbată zilnic.</li>
            </ol>
        </section>
        <section id="buchetedegaroafe">
            <h3>Buchete de garoafe</h3>
            <p>Pentru a te bucura de garoafe o perioadă mai lungă de timp ar trebui să urmezi urmatoarele sfaturi:</p>
            <ol>
                <li>înainte de a pune florile în vază taie oblic cam 1,3-1,5 cm din codiță pentru a ajuta la hidratarea corectă;</li>
                <li>rupe frunzele din partea de jos a tulpinii pentru a nu putrezi în apă;</li>
                <li>rezistă mai multă vreme dacă tulpina florilor se taie între noduri și niciodată direct pe ele;</li>
                <li>apa trebuie să fie la temperatura camerei </li>
            </ol>
        </section>
        <section id="buchetemixte">
            <h3>Buchete mixte</h3>
            <p>Fiecare floare are un tip de îngrijire specific. Pentru a vă putea bucura mai mult de florile oferite de noi cel mai bine ar fi să vă documentați în funcție de buchetul ales.</p>
        </section>
    </section>
    <section id="plante">
        <h2>Plante</h2>
        <section id="cactusi">
            <h3>Cactuși</h3>
            <p>Pentru a avea un cactus întreținut corect există niște sfaturi simple care merită urmate:</p>
            <ol>
                <li>Trebuie udați constant, dar nu abundent pentru că acest lucru ar putea duce la apariția bolilor de radacini.</li>
                <li>În timpul anotimpurilor mai calde (primavara si vara), ar trebui să udați planta de cactus saptămânal. Lasați solul din ghiveci să se înmoaie bine și lăsați apa suplimentară să se scurgă. Asigurați-vă că solul se usucă ușor înainte de a fi udat, dar nu trebuie să fie complet uscat.</li>
                <li>În timpul iernii și toamnei, asigurați-vă că între udari, lasați solul să se usuce complet. Aceasta poate fi intre 2 saptamani și o lună, în funcție de mediul în care se află.</li>
                <li>Are nevoie de lumină, dar nu excesiv. Ideal ar fi să fie situat lângă o fereastră spre sud și rotit din când în când pentru a nu arde pe o parte.</li>
            </ol>
        </section>
        <section id="florighiveci">
            <h3>Flori în ghiveci</h3>
            <p>Fiecare floare are alt tip de îngrijire și de aceea recomadăm să citiți despre ele înainte.</p>
        </section>
        <section id="copaci">
            <h3>Copaci în ghiveci</h3>
            <p>Fiecare copac are alt tip de îngrijire și de aceea recomadăm să citiți despre tipul respectiv înainte de a cumpăra.</p>
        </section>
    </section>
    <section id="altele">
    <section id="aranjamente">
        <h2>Aranjamente florale</h2>
        <section id="cosuleteflori">
            <h3>Coșuleț cu flori</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu consequat ligula. Nam vel efficitur massa. Nam posuere tempor aliquet. Vestibulum non sem nec tortor eleifend egestas.</p>
        </section>
        <section id="coroanaflori">
            <h3>Coroană de flori</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu consequat ligula. Nam vel efficitur massa. Nam posuere tempor aliquet. Vestibulum non sem nec tortor eleifend egestas.</p>
        </section>
    </section>
    <section id="evenimente">
        <h2>Evenimente</h2>
        <section id="nunti">
            <h3>Nunți</h3>
            <p>Pentru că știm că ziua nunții este una specială ți-am pregătit tot ce ai avea nevoie. Mai jos vei găsi mai multe tipuri de buchete de mireasă, de nașă și de domnișoare de onoare.</p>
        </section>
        <section id="funerare">
            <h3>Funerare</h3>
            <p>Poți face coroane și jerbe pe care poți lăsa un mesaj de adio.</p>
        </section>
        <section id="valentinesday">
            <h3><i lang="en">Valentine's day</i></h3>
            <p>Oferă-i persoanei iubite un buchet de neuitat, personalizat pentru <i lang="en">Valentine's day</i>, Dragobete sau doar pentru o zi specială din relația voastră.</p>
            <p>Pentru a întregi cadoul, de mai jos poți descărca poza pentru o felicitare perfectă pentru <i lang="en">Valentine's day</i>: </p>
            <a class="link" href="./resurse/imagini/felicitari-valentines-day.jpg" download> 
                <!-- <img src="./resurse/imagini/felicitari-valentines-day.jpg" alt="felicitare"> -->
                Felicitare <i class="fa-solid fa-download"></i>
              </a>
        </section>
    </section>
    </section>
</div>

<div id="outer">
    <a id="back-to-top" href="#">
        <div id="inner" title="Back to Top"></div>
    </a>
</div>

</main>

<footer>
<%- include ("../fragmente/footer.ejs") %>
</footer>

</body>
</html>