html {
    font-size: 14px;
}

#grid-pagina{
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "z-desprenoi z-desprenoi z-desprenoi"
                        "z-plante z-oferte z-altele"
                        "z-intrebari z-orar z-orar"
                        "z-anunturi z-orar z-orar"
                        "z-buchete z-buchete z-buchete"
                          ;
    gap: 10px 5px;
}

#orar{
    overflow-x:scroll;
}