#hamburger, #ch-menu{
    display: none;
}

body{
    --inaltime-meniu: 50px;
    --latime-buton: 180px;
    --culoare-meniu: var(--roz-principal);
    /* --culoare-meniu-apasare: var(--roz-secundar);   */
    --culoare-border-buton: var(--culoare-border);
}

nav{
    --culoare-text-meniu: var(--culoare-text);
    /* background-color: var(--culoare-meniu); */
    width:100%;
    height: var(--inaltime-buton);
    position: sticky;
    top:0;
    left:0;
    --grosime-border: 2px;
    z-index: 200;
}

ul.meniu, ul.meniu ul{
    list-style-type: none;
}

ul.meniu{
    width:100%;
    display: flex; 
    padding: 0;
    margin: 0; 
    /* pune pe randurile celelalte pe ecran mai mic */
    /* justify-content: flex-start;
    flex-wrap: wrap; */
}


ul.meniu ul{ 
    padding: 0;
    margin: 0;
}

ul.meniu li{
    width:var(--latime-buton);
    height:var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    box-shadow: var(--culoare-highlight);
    overflow: hidden;
    text-align: center;
    border: var(--grosime-border) solid var(--culoare-border-buton);
    box-sizing: border-box;
    /* transition: background-color 1s linear; */
    transition: box-shadow 0.5s linear;
}

ul.menu>li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--latime-buton);
}

ul.meniu li:hover{
    /* background-color: var(--culoare-meniu-apasare); */
    overflow: visible;
    box-shadow: inset 0px 0px 15px 0.75px var(--culoare-border);
}

ul.meniu li ul li:hover{
    box-shadow: none;
}

.arrow {
    opacity: 0;
    transition: all 0.3s linear;
    position: absolute;
    left: 5px;
}

a:hover .arrow {
    opacity: 1;
    display: block;
    transform: translateX(100%);
}

ul.meniu ul{
    opacity: 0;
    transition: all 0.5s linear;
    transform: scale(0,0);
    transform-origin: center top;
}

ul.meniu li:hover ul{
    opacity: 1;
    transform: scale(1,1);
}



ul.meniu li div,ul.meniu li a{
    display: block;
    width: 100%;
    height: 100%;
    /* vertical-align: middle; */
    line-height: calc(var(--inaltime-meniu) - 2*var(--grosime-border));
    color: var(--culoare-text-meniu);
    text-decoration: none;
    font-weight: bold;
}

#outer {
    position: fixed;
    border: 5px solid var(--culoare-border);
    border-radius: 100%;
    border-top: 0;
    border-bottom: 0;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
}

#inner {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(69, 42, 54, 0.6);
    margin: auto;
    margin-top: 30%;
    transition: all 0.3s linear;
}

#outer:hover #inner {
    border-bottom: 20px solid var(--culoare-highlight);
    transform: translateY(-10px);
}

#hamburger{
    display:none;
}
