<nav>
    <label id="hamburger" for="ch-menu">
        <img src="./resurse/imagini/Hamburger_icon_alb.png" alt="menu" height="30">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div><i class="fa-solid fa-house"></i><b id="acasa-meniu"> Acasă</b></div>
        <ul>
            <li><a href="#desprenoi">Despre noi</a>
            <li><a href="#intrebari">Întrebări</a>
            <li><a href="#orar">Orar</a>
            <li><a href="#anunturi">Anunțuri</a>
            <li><a href="#oferte">Oferte</a>
        </ul>
        </li>
        <li><div><a href="buchete.html"><i class="fa-brands fa-pagelines"></i><b id="buchete-meniu"> Buchete</b></a></div>
        <ul>
            <li><a href="buchete.html">Trandafiri</a>
            <li><a href="buchete.html">Lalele</a>
            <li><a href="buchete.html">Crini</a>
            <li><a href="buchete.html">Garoafe</a>
            <li><a href="buchete.html">Mixte</a>
        </ul>
        </li>
        <li><div><a href="plante.html"><i class="fa-solid fa-seedling"></i><b id="plante-meniu"> Plante</b></a></div>
            <ul>
                <li><a href="plante.html">Cactuși</a>
                <li><a href="plante.html">Flori ghiveci</a>
                <li><a href="plante.html">Copaci ghiveci</a>
            </ul>
        </li>
        <li><div><a href="aranjamente.html"><i class="fa-solid fa-gift"></i><b id="aranjamente-meniu"> Aranjamente</b></a></div>
            <ul>
                <li><a href="aranjamente.html">Coș cu flori</a>
                <li><a href="aranjamente.html">Coroană flori</a>
            </ul>
        </li>
        <li><div><a href="evenimente.html"><i class="fa-regular fa-calendar-days"></i> <b id="evenimente-meniu"> Evenimente</b></a></div>
            <ul>
                <li><a href="evenimente.html">Nunți</a>
                <li><a href="evenimente.html">Funerare</a>
                <li><a href="evenimente.html">Valentine's day</a>
            </ul>
        </li>
        <li><div><a href="oferte.html"><i class="fa-solid fa-fire"></i><b id="oferte-meniu"> Oferte</b></a></li></div>
    </ul>
</nav>