<nav>
    <label id="hamburger" for="ch-menu">
        <img src="./resurse/imagini/Hamburger_icon_alb.png" alt="menu" height="30">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div><i class="fa-solid fa-house"></i><b id="acasa-meniu"> Acasă</b></div>
        <ul>
            <li><a href="#desprenoi"><span class="arrow">→</span>Despre noi</a>
            <li><a href="#intrebari"><span class="arrow">→</span>Întrebări</a>
            <li><a href="#orar"><span class="arrow">→</span>Orar</a>
            <li><a href="#anunturi"><span class="arrow">→</span>Anunțuri</a>
            <li><a href="#oferte"><span class="arrow">→</span>Oferte</a>
        </ul>
        </li>
        <li><div><a href="buchete.html"><i class="fa-brands fa-pagelines"></i><b id="buchete-meniu"> Buchete</b></a></div>
        <ul>
            <li><a href="buchete.html"><span class="arrow">→</span>Trandafiri</a>
            <li><a href="buchete.html"><span class="arrow">→</span>Lalele</a>
            <li><a href="buchete.html"><span class="arrow">→</span>Crini</a>
            <li><a href="buchete.html"><span class="arrow">→</span>Garoafe</a>
            <li><a href="buchete.html"><span class="arrow">→</span>Mixte</a>
        </ul>
        </li>
        <li><div><a href="plante.html"><i class="fa-solid fa-seedling"></i><b id="plante-meniu"> Plante</b></a></div>
            <ul>
                <li><a href="plante.html"><span class="arrow">→</span>Cactuși</a>
                <li><a href="plante.html"><span class="arrow">→</span>Flori ghiveci</a>
                <li><a href="plante.html"><span class="arrow">→</span>Copaci ghiveci</a>
            </ul>
        </li>
        <li><div><a href="aranjamente.html"><i class="fa-solid fa-gift"></i><b id="aranjamente-meniu"> Aranjamente</b></a></div>
            <ul>
                <li><a href="aranjamente.html"><span class="arrow">→</span>Coș cu flori</a>
                <li><a href="aranjamente.html"><span class="arrow">→</span>Coroană flori</a>
            </ul>
        </li>
        <li><div><a href="evenimente.html"><i class="fa-regular fa-calendar-days"></i> <b id="evenimente-meniu"> Evenimente</b></a></div>
            <ul>
                <li><a href="evenimente.html"><span class="arrow">→</span>Nunți</a>
                <li><a href="evenimente.html"><span class="arrow">→</span>Funerare</a>
                <li><a href="evenimente.html"><span class="arrow">→</span>Valentine's day</a>
            </ul>
        </li>
        <li><div><a href="oferte"><i class="fa-solid fa-fire"></i><b id="oferte-meniu"> Oferte</b></a></li></div>
    </ul>
</nav>